
<div class="col-md-4 hidden p-0">
    <div>
        <div class="menu-box mb20">
            <div class="item-qc-left home-box-lightbox">
                <a href="@Url.RouteUrl("ChinhSachHoTro", new { slug = "chinh-sach-bao-mat"})" title="LỚP ĐỐI TƯỢNG 4">
                    <p class="text-menu">Chính sách bảo mật</p>
                </a>
            </div>
        </div>
        <div class="menu-box mb20">
            <div class="item-qc-left home-box-lightbox">
                <a href="@Url.RouteUrl("ChinhSachHoTro", new { slug = "chinh-sach-thanh-toan"})" title="LỚP ĐỐI TƯỢNG 4">
                    <p class="text-menu">Chính sách thanh toán</p>
                </a>
            </div>
        </div>
        <div class="menu-box mb20">
            <div class="item-qc-left home-box-lightbox">
                <a href="@Url.RouteUrl("ChinhSachHoTro", new { slug = "chinh-sach-van-chuyen"})" title="LỚP ĐỐI TƯỢNG 4">
                    <p class="text-menu">Chính sách vận chuyển</p>
                </a>
            </div>
        </div>
        <div class="menu-box mb20">
            <div class="item-qc-left home-box-lightbox">
                <a href="@Url.RouteUrl("ChinhSachHoTro", new { slug = "chinh-sach-xu-ly-khieu-nai"})" title="LỚP ĐỐI TƯỢNG 4">
                    <p class="text-menu">Chính sách xử lý khiếu nại</p>
                </a>
            </div>
        </div>
    </div>
</div>
