@using Outsourcing.Data.Models
@using Labixa.ViewModels
@model Outsourcing.Data.Models.Blog
@{
    ViewBag.Title = "NewsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ShopFormModel shopFormModel = ViewBag.shopFormModel;
}
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="index1.html">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a>Tin tức</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Start Blog Single -->
<section class="blog-single section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="blog-single-main">
                    <div class="row">
                        <div class="col-12">
                            @if (Model != null)
                            {
                                <div class="image">
                                    <img src="@Model.BlogImage" alt="#">
                                </div>
                                <div class="blog-detail">
                                    <h2 class="blog-title">@Model.Title</h2>
                  
                                    <div class="content">
                                       @Html.Raw(Model.Content)
                                    </div>
                                </div>
                            }


   
                    </div>
                </div>
            </div>

            @Html.Partial("_RightMenuPartial", shopFormModel.blogsRelated)
        </div>
    </div>
</section>
<!--/ End Blog Single -->
