@using Outsourcing.Data.Models
@using Labixa.ViewModels
@model List<Product>
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ShopFormModel shopFormModel = ViewBag.shopFormModel;
   
}

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="@Url.RouteUrl("TrangChu")">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a>Thanh toán</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Shopping Cart -->
<div class="shopping-cart section">
    <div class="container" id="checkout">
       
    </div>
</div>
<!--/ End Shopping Cart -->
<script type="text/javascript">
    function loadCheckout() {
        $.ajax({
            type: "POST",
            url: '/Shop/LoadCheckout',
            dataType: 'html',
            success: function (data) {
                $('#checkout').html(data);
            },
            error: function () {
                alert("Load check cart fail");
            }
        });
    }

    function UpdateItem(id, val) {
        $.ajax({
            type: "POST",
            url: '/Shop/UpdateItemCart',
            data: JSON.stringify({
                "id": id,
                "val": val,
            }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                loadCheckout();
            },
            error: function () {
                alert("Cập nhập sản phẩm thất bại");
            },
        });
    }

    function DeleteItem(id) {
        $.ajax({
            type: "POST",
            url: '/Shop/DeleteItemCart',
            data: JSON.stringify({
                "id": id,
            }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                loadCheckout();
                alert(data.Message);
            },
            error: function () {
                alert("Xóa sản phẩm thất bại");
            },
        });
    }

    window.onload = function () {
        loadCheckout();
    }
</script>
